/* Main Window */

QMainWindow::separator {
    background: rgb(36, 36, 36);
    width: 4px;
}

QMenuBar {
    background-color: rgb(24, 24, 24);
}

QMenuBar:disabled {
    color: rgb(102, 102, 102);
}

QMenu::item:disabled {
    color: rgb(102, 102, 102);
    background-color: transparent;
}

QMenu::separator {
    background-color: rgb(44, 44, 44);
}

QStatusBar {
    background-color: rgb(36, 36, 36);
    border: 2px solid rgb(36, 36, 36);
}

/* Containers */

QDialog {
    background-color: rgb(44, 44, 44);
}

QFrame {
    background-color: rgb(44, 44, 44);
}

QGroupBox {
    color: rgb(144, 144, 144);
}

QScrollArea {
    border: 2px solid rgb(65, 65, 65);
    background: rgb(44, 44, 44);
    width: 10px;
    border-radius: 4px;
    margin: 0;
}

QDOckWidget {
    color: rgb(144, 144, 144);
}

QDOckWidget::title {
    background: rgb(24, 24, 24);
}

/* QDOckWidget > QWidget {
    background: rgb(24, 24, 24);
} */

/* Scroll Bars */

QScrollBar:vertical {
    border: None;
    background: rgb(44, 44, 44);
    width: 10px;
    border-radius: 4px;
    margin: 0;
}

QScrollBar:handle:vertical {
    background: rgb(70, 70, 70);
    min-height: 20px;
    border-radius: 3px;
    margin: 2;
}

QScrollBar::add-line:vertical {
    border: None;
    background: rgb(44, 44, 44);
    height: 8px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical {
    border: None;
    background: rgb(44, 44, 44);
    height: 8px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}

QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical {
    background: None;
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: None;
}

QScrollBar:horizontal {
    border: None;
    background: rgb(44, 44, 44);
    height: 10px;
    border-radius: 4px;
    margin: 0;
}

QScrollBar:handle:horizontal {
    background: rgb(70, 70, 70);
    min-width: 20px;
    border-radius: 3px;
    margin: 2;
}

QScrollBar::add-line:horizontal {
    border: None;
    background: rgb(44, 44, 44);
    width: 8px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    subcontrol-position: right;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal {
    border: None;
    background: rgb(44, 44, 44);
    width: 8px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    subcontrol-position: left;
    subcontrol-origin: margin;
}

QScrollBar::up-arrow:horizontal, QScrollBar::down-arrow:verhorizontaltical {
    background: None;
}

QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
    background: None;
}

/* Display Widgets */

QLabel {
    border-radius: 5px;
    background-color: transparent;
    padding: 1px 3px;
    color: rgb(210, 210, 210);
}

QLabel:hover {
    border: 2xp solid rgb(82, 82, 82);
}

QLabel:focus {
    border: 2xp solid rgb(123, 132, 136);
}

/* Buttons */

QPushButton {
    background-color: rgb(71, 71, 71);
    border: 2px solid rgb(76, 76, 76);
    border-radius: 5px;
    padding: 3px 3px;
    color: rgb(210, 210, 210);
}

QPushButton:hover {
    background-color: rgb(76, 76, 76);
    border: 2px solid rgb(71, 76, 88);
}

QPushButton:pressed {
    background-color: rgb(39, 39, 39);
    border: 2px solid rgb(47, 50, 57);
    color: rgb(132, 132, 132);
}

QPushButton:disabled {
    background-color: rgb(44, 44, 44);
    border: 2px solid rgb(57, 57, 57);
    color: rgb(144, 144, 144);
}

QPushButton:checked {
    background-color: rgb(39, 39, 39);
    border: 2px solid rgb(125, 134, 138);
    color: rgb(144, 144, 144);
}

QToolButton {
    border-radius: 5px;
    background-color: transparent;
    padding: 1px 3px;
    color: rgb(210, 210, 210);
}

QToolButton:hover {
    background-color: rgb(76, 76, 76);
    border: 2px solid rgb(71, 76, 88);
}

QToolButton:pressed {
    background-color: rgb(39, 39, 39);
    border: 2px solid rgb(47, 50, 57);
}

QToolButton:disabled {
    background-color: rgb(44, 44, 44);
    border: 2px solid rgb(57, 57, 57);
    color: rgb(144, 144, 144);
}

QCheckBox {
    color: rgb(144, 144, 144);
}

QCheckBox::indicator {
    border: 3px solid rgb(57, 57, 57);
    width: 15px;
    height: 15px;
    border-radius: 7px;
    background: rgb(49, 49, 49);
}

QCheckBox::indicator:hover {
    border: 3px solid rgb(67, 71, 74);
}

QCheckBox::indicator:checked {
    background: 3px solid rgb(144, 144, 144);
    border: 3px solid rgb(67, 71, 74);
}

QCheckBox:hover {
    color: rgb(167, 167, 167);
}

QCheckBox:checked {
    color: rgb(210, 210, 210);
}

/* Item Widgets */

QHeaderView:section {
    color: rgb(144, 144, 144);
    background: rgb(57, 57, 57);
    border: 1px solid rgb(44, 44, 44);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 2px 4px;
}

QListWidget {
    background-color: rgba(29, 29, 29, 57);
    border: 2px solid rgb(57, 57, 57);
    border-radius: 5px;
    padding: 0px;
    color: rgb(210, 210, 210);
}

QListWidget:hover  {
    border: 2px solid rgb(82, 82, 82);
    border-radius: 4px;
}

QListWidget::indicator {
    background-color: rgba(78, 78, 78, 57);
    border: 2px solid rgb(57, 57, 57);
    border-radius: 4px;
}

QListWidget::indicator:checked {
    background: 3px solid rgba(255, 255, 255, 57);
    border: 2px solid rgb(67, 71, 77);
}

QListWidget::indicator:hover {
    background: 2x solid rgb(78, 78, 78);
    border-radius: 4px;
}

QListWidget:disabled {
    color: rgb(102, 102, 102);
}

QTreeWidget {
    border: 2px solid rgb(65, 65, 65);
    background-color: rgb(29, 29, 29);
    border-radius: 5px;
    padding: 0px;
    padding-bottom: 6px;
    color: rgb(210, 210, 210);
}

QTreeWidget::indicator {
    background-color: rgba(78, 78, 78, 57);
    border: 2px solid rgba(57, 57, 57, 57);
    border-radius: 4px;
}

QTreeWidget::indicator:checked {
    background: 3px solid rgb(144, 144, 144);
    border: 2px solid rgba(67, 71, 77, 57);
}

QTreeWidget::indicator:hover {
    border: 2px solid rgba(78, 78, 78);
    border-radius: 4px;
}

QTreeWidget:disabled {
    color: rgb(102, 102, 102);
}

QTreeWidget:hover {
    border: 2px solid rgb(82, 82, 82);
}

QTreeWidget::item {
    padding-top: 0px;
    padding-bottom: 0px;
    border: 2px solid rgb(44, 44, 44);
    border-radius: 4px;
}

QTreeWidget::item:selected {
    background-color: rgba(110, 120, 125, 200);
}

QTableWidget {
    border: 2px solid rgb(65, 65, 65);
    background: rgb(44, 44, 44);
    border-radius: 4px;
}

QTableCornerButton::section {
    border: 2px solid rgb(57, 57, 57);
    background: rgb(57, 57, 57);
    border-radius: 4px;
}

QTableWidget:hover {
    border: 2px solid rgb(82, 82, 82);
    background: rgb(44, 44, 44);
    border-radius: 4px;
}

QTableWidget:item {
    border: 2px solid rgb(65, 65, 65);
    color: rgb(240, 240, 240);
    border-radius: 4px;
}

/* Input Widgets */

QComboBox {
    background-color: rgb(65, 65, 65);
    border: 2px solid rgb(65, 65, 65);
    border-radius: 5px;
    padding: 1px 3px;
    color: rgb(210, 210, 210);
}

QComboBox::editable {
    background-color: rgb(39, 39, 39);
}

QComboBox::editable:focus {
    border: 2px solid rgb(125, 134, 138);
}

QComboBox:hover {
    border: 2px solid rgb(82, 82, 82);
}

QComboBox:disabled {
    color: rgb(102, 102, 102);
}

QComboBox::drop-down:button {
    border-radius: 5px;
}

QComboBox::down-arrow {
    image: url(theme/icons/drop-down.svg);
    width: 12px;
    height: 12px;
}

QLineEdit {
    border-radius: 5px;
    background-color: rgb(29, 29, 29);
    padding: 1px 3px;
    color: rgb(210, 210, 210);
    border: 2px solid rgb(65, 65, 65);
}

QLineEdit:hover {
    border: 2px solid rgb(82, 82, 82);
}

QLineEdit:focus {
    border: 2px solid rgb(125, 134, 138);
}

QTextEdit {
    border-radius: 5px;
    background-color: rgb(29, 29, 29);
    padding: 1px 3px;
    color: rgb(210, 210, 210);
    border: 2px solid rgb(65, 65, 65);
}

QTextEdit:hover {
    border: 2px solid rgb(82, 82, 82);
}

QTextEdit:focus {
    border: 2px solid rgb(125, 134, 138);
}

QPlainTextEdit {
    border-radius: 5px;
    background-color: rgb(29, 29, 29);
    padding: 1px 3px;
    color: rgb(210, 210, 210);
    border: 2px solid rgb(65, 65, 65);
}

QPlainTextEdit:hover {
    border: 2px solid rgb(82, 82, 82);
}

QPlainTextEdit:focus {
    border: 2px solid rgb(125, 134, 138);
}

QSpinBox {
    border-radius: 5px;
    background-color: rgb(29, 29, 29);
    padding: 1px 3px;
    color: rgb(210, 210, 210);
    border: 2px solid rgb(65, 65, 65);
}

QSpinBox:hover {
    border: 2px solid rgb(82, 82, 82);
}

QSpinBox:focus {
    border: 2px solid rgb(125, 134, 138);
}

QSpinBox:disabled {
    color: rgb(144, 144, 144);
}

QDoubleSpinBox {
    border-radius: 5px;
    background-color: rgb(29, 29, 29);
    padding: 1px 3px;
    color: rgb(210, 210, 210);
    border: 2px solid rgb(65, 65, 65);
}

QDoubleSpinBox:hover {
    border: 2px solid rgb(82, 82, 82);
}

QDoubleSpinBox:focus {
    border: 2px solid rgb(125, 134, 138);
}

QDoubleSpinBox:disabled {
    color: rgb(144, 144, 144);
}

QDateEdit {
    background-color: rgb(65, 65, 65);
    border: 2px solid rgb(65, 65, 65);
    border-radius: 5px;
    padding: 1px 3px;
    color: rgb(210, 210, 210);
}

QDateEdit::editable {
    background-color: rgb(39, 39, 39);
}

QComboBox::editable:focus {
    border: 2px solid rgb(125, 134, 138);
}

QDateEdit:hover {
    border: 2px solid rgb(82, 82, 82);
}

QDateEdit:disabled {
    color: rgb(102, 102, 102);
}

QDateEdit::drop-down:button {
    border-radius: 5px;
}

QDateEdit::down-arrow {
    image: url(theme/icons/drop-down.svg);
    width: 12px;
    height: 12px;
}
